/* ================================================================= */
/* ---- . ---- . --- ESTILOS GENERALES DE LA PAGINA --- . --- . ---- */
/* ================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

body{
  max-width: 2000px;
  margin:auto;
}

/* ========================================================== */
/* ---- . ---- . --- ENCABEZADO DE LA PAGINA --- . --- . ---- */
/* ========================================================== */

.menu{
  width:100%;
  height:75px;
  background: #af0219;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0px 10px rgba(0,0,0,0.6);
  position:sticky;
  top:0;
}

.menu .logo{
  color: #fff;
  font-size:35px;
  margin-left: 20px;
  font-weight: 900;
}

.menu .menu_items{
  display:flex;
  list-style: none;
  margin-right: 40px;
}

.menu .menu_items li{
  margin-right:20px;
  border-radius: 3px;
  overflow: hidden;
}

.menu .menu_items li a{
  display:block;
  text-decoration: none;
  color: rgb(218, 218, 218);
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.menu .menu_items li .activo{
  background:#850213;
  color: white;
}

.menu .menu_items li a:hover{
  background:#850213;
  color: white;
  transition: .3s ease all;
}

.menu .btn_menu{
  display: none;
  margin-right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all .5s ease;
  margin-right: 10px;
}

.menu .btn_menu i{
  padding: 10px;
}

.menu .btn_menu i:first-child.desactivar{
  display: none;
}

.menu .btn_menu i:last-child{
  display: none;
}
.menu .btn_menu i:last-child.activar{
  display: block;
}


/* ====================================================== */
/* ---- . ---- . --- CUERPO DE LA PAGINA --- . --- . ---- */
/* ====================================================== */

main{
  width:100%;
  max-width: 1200px;
  margin:auto;
  padding: 25px;
}

main section{
  margin-top: 25px;
  padding:25px;
  border-radius: 15px;
  background: rgb(232, 232, 232);
}

main section h2{
  font-weight: 900;
}

main section p{
  font-weight: 600;
}


/* =================================================== */
/* ---- . ---- . --- PIE DE LA PAGINA --- . --- . ---- */
/* =================================================== */

footer{
  background: #000;
  color: white;
}

/* ======================================================================== */
/* ---- . ---- . --- BOTON SUBIR AL PRINCIPIO DE LA PAGINA --- . --- . ---- */
/* ======================================================================== */

#subir{
  width:40px;
  height:40px;
  display:grid;
  align-items:center;
  justify-content:center;
  position: fixed;
  bottom:50px;
  right:10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.466);
}

#subir:hover{
  cursor: pointer;
  background: rgb(63, 63, 63);
  color: white;
}

/* ====================================================== */
/* ---- . ---- . --- MEDIA QUERY --- . --- . ---- */
/* ====================================================== */

@media screen and (max-width:1100px){
  .menu .btn_menu{
    display: block;
  }

  .menu .menu_items{
    display: none;
    animation-name: Visibillidad;
    animation-duration:.4s;
    animation-timing-function: linear;
  }
  .menu ul.mostrar{
    width:100%;
    height:230px;
    margin-top: 75px;
    display:flex;
    flex-direction: column;
    position:fixed;
    top:0px;
    z-index: 1;
    background: #000;
    padding: 5px;
  }

  .menu .menu_items li .activo{
    background:none;
  }
  .menu .menu_items li a{
    background: none;
  }

  main section h2{
    /* font-size: 32px; */
  }

  main section p{
    font-size: 18px;
  }
}

@media screen and (min-width:1101px){
  .menu .logo{
    margin-left: 40px;
  }

  .menu .menu_items{
    margin-right: 40px;
  }

  main section h2{
    font-size: 32px;
  }

  main section p{
    font-size: 20px;
  }
}


/* ============================================ */
/* ---- . ---- . --- KEYFRAMES --- . --- . ---- */
/* ============================================ */

@keyframes Visibillidad {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}












